<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <script type="text/javascript">      
        var timerStart = Date.now();
        console.log('Page Load:' + timerStart)
        var uniq_session = timerStart;

        var cookie = getCookie('uid');
        var uniq_session = cookie;

        if(cookie == '' || cookie == null) {
          var uid = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 12);
          console.log('uid:' + uid)
          setCookie('uid', uid,  40)
          cookie = getCookie('uid');
          uniq_session = cookie;
        }
        function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i <ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
              }
          }
          return "";
        }

        console.log('version B: cookie:' + cookie)

    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    
    <script src="https://use.fontawesome.com/068e74d89a.js"></script>

    <title>Find Memphis Taxis online</title>
  </head>

  <body style="height: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#" style="font-family: 'Abril Fatface', cursive;">
          Memphis Taxis
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" id="nav-cta1" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-cta2" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-cta3" href="#services">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container" style="height: 80%;">
      <div class="row" style="height: 100%;">
        <div class="col-md-5" style="height: 100%; display: flex; align-items: center;">
          <img src="/static/taxidrawing.jpg" class="img-fluid">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-6" style="height: 100%; display: flex; align-items: center;">
          <div>
            <h1 style="font-family: 'Abril Fatface', cursive; font-size: 4.5em;">Where Travel Happens</h1>
            <br>
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.3em;">
              If you're looking for a way to get away, a place where nothing 
              can go wrong, the cheapest travel opportunities available, the
              most luxurious travel opportunities available, all of the travel
              opportunities available, or just looking for a taxi in Memphis, 
              we've got you covered!
            </p>
            <br>
            <a href="#services"><button id="cta1" type="button" class="btn btn-default test">Find your ride</button></a>
          </div>
        </div>
      </div>
    </section>
    <section id="reviews" class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 style="font-family: 'Abril Fatface', cursive;">See what users are saying:</h1>
        <br>
        <div class="text-center pb-3">
          <div class="row text-center">
            <div class="col-md-4 mb-r">
              <div class="card" style="padding: 10px;">
                <br>
                <div class="avatar">
                  <img src="https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU0NTIzODQwMDE1/steven-jobs-9354805-2-402.jpg" class="rounded-circle z-depth-1 img-responsive" style="height: 200px; width: 200px;">
                </div>
                <br>
                <h4 class="mb-3">Steve Jobs</h4>
                <h6 class="mb-3 font-bold text-secondary">Professional Innovator</h6>
                <p>
                  <i class="fa fa-quote-left"></i>
                  Memphis Taxis is the most innovatative taxi service in the world.
                </p>

                <!--design based off of https://mdbootstrap.com/sections/testimonials-sections/-->
                <div class="text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <br>
              </div>
            </div>

            <div class="col-md-4 mb-r">
              <div class="card" style="padding: 10px;">
                <br>
                <div class="avatar">
                  <img src="/static/dean-baquet.jpg" class="rounded-circle z-depth-1 img-responsive" style="height: 200px; width: 200px;">
                </div>
                <br>
                <h4 class="mb-3">Dean Baquet</h4>
                <h6 class="mb-3 font-bold text-secondary">Editor at <em>The New York Times</em></h6>
                <p>
                  <i class="fa fa-quote-left"></i> Wow, I wish we had something like this in New York.
                </p>

                <!--design based off of https://mdbootstrap.com/sections/testimonials-sections/-->
                <div class="text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-full"></i>
                </div>
                <br>
              </div>
            </div>

            <div class="col-md-4 mb-r">
              <div class="card" style="padding: 10px;">
                <br>
                <div class="avatar">
                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAeJAAAAJDM5ZWE0N2UxLTVlODUtNGM3Ny05ZWM0LTA3ZDllNDNlZGU0Mg.jpg" class="rounded-circle z-depth-1 img-responsive" style="height: 200px; width: 200px;">
                </div>
                <br>
                <h4 class="mb-3">Jeff Huang</h4>
                <h6 class="mb-3 font-bold text-secondary">Interface Extraordinare</h6>
                <p>
                  <i class="fa fa-quote-left"></i> This taxi company has one of the best websites I've ever seen.
                </p>

                <!--design based off of https://mdbootstrap.com/sections/testimonials-sections/-->
                <div class="text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="container" style="padding-bottom: 30px;">
      <div class="text-center">
        <h1 style="font-family: 'Abril Fatface', cursive;">Ready for the ride of your life?</h1>
      </div>
      <br>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Service</th>
              <th>Starting Rates</th>
              <th colspan="3">Benefits</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h4>Yellow Cab</h4></td>
              <td><h5 class="text-success">$20</h5></td>
              <td><i class="fa fa-check"></i> Airport transport</td>
              <td><i class="fa fa-check"></i> Wheelchair-accessible</td>
              <td><i class="fa fa-check"></i> Metered fares</td>
              <td>
                <a class="btn btn-lg btn-block btn-warning" style="cursor: pointer;" id="mp1">
                  <i class="fa fa-car"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td><h4>Ride Change</h4></td>
              <td><h5 class="text-success">$20</h5></td>
              <td><i class="fa fa-check"></i> Cleaned hourly</td>
              <td><i class="fa fa-check"></i> Available 24/7</td>
              <td><i class="fa fa-check"></i> Professional drivers</td>
              <td>
                <a class="btn btn-lg btn-block btn-info" style="cursor: pointer;" id="mp2">
                  <i class="fa fa-car"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td><h4>Uber</h4></td>
              <td><h5 class="text-success">$1</h5></td>
              <td><i class="fa fa-check"></i> Flat rate</td>
              <td><i class="fa fa-check"></i> Background checks</td>
              <td><i class="fa fa-check"></i> Neighborhood drivers</td>
              <td>
                <a class="btn btn-lg btn-block btn-primary" style="cursor: pointer;" id="mp3">
                  <i class="fa fa-car"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td><h4>Premier</h4></td>
              <td><h5 class="text-success">$100</h5></td>
              <td><i class="fa fa-check"></i> Luxury travel</td>
              <td><i class="fa fa-check"></i> Fast turnaround</td>
              <td><i class="fa fa-check"></i> Personal chauffeur</td>
              <td>
                <a class="btn btn-lg btn-block btn-danger" style="cursor: pointer;" id="mp4">
                  <i class="fa fa-car"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer class="page-footer text-white" style="padding: 50px; background-color: #2c3e50;">
      <div class="container text-center">
        <h5 class="title mb-3" style="font-family: 'Abril Fatface', cursive;">Memphis Taxis</h5>
        <p>We get you to where you need to go.</p>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        var timeLoaded = Date.now()
          $(document).ready(function() {
            timeLoaded =  Date.now();
            console.log('Page Load:' + timeLoaded)
            sendData(timeLoaded, 0.0, 0.0, uniq_session)
          });

          $("#nav-cta1").on("click", function(d) {
                // Retrieve the object from storage
                var clickTime = Date.now()
                var clickObjectID = 'nav-cta1'
                console.log('Click Time:' + clickTime)
                sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
                window.location.href = "/#reviews"

          })
          $("#nav-cta2").on("click", function(d) {
                // Retrieve the object from storage
                var clickTime = Date.now()
                var clickObjectID = 'nav-cta2'
                console.log('Click Time:' + clickTime)
                sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
                window.location.href = "/#services"

          })
          $("#nav-cta3").on("click", function(d) {
                // Retrieve the object from storage
                var clickTime = Date.now()
                var clickObjectID = 'nav-cta3'
                console.log('Click Time:' + clickTime)
                sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
                window.location.href = "/#services"

          })

        $("#cta1").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'cta1'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              window.location.href = "/#services"

        })

        $("#mp1").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp1'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              window.location.href = "http://www.yellowcabofmemphis.com/"

        })


        $("#mp2").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp2'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              window.location.href = "https://www.ridecharge.com/s/tn-memphis/taxi-sedan-limo-shuttle"
        })

          $("#mp3").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp3'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              window.location.href = "https://www.uber.com/cities/memphis/"
        })

            $("#mp4").on("click", function(d) {
              // Retrieve the object from storage
              var clickTime = Date.now()
              var clickObjectID = 'mp4'
              console.log('Click Time:' + clickTime)
              sendData(timeLoaded, clickTime, clickObjectID, uniq_session)
              window.location.href = "https://premierofmemphis.com/contact-us/"
        })


        function sendData(timeLoaded, clickTime, clickObjectID, cook){
              var dataObj = { 'version': 'B', 'pageLoadTime': timeLoaded , 'clickTime': clickTime , 'HtmlElementID': clickObjectID, 'UniqueSession' :uniq_session};
              console.log(JSON.stringify(dataObj))
               $.ajax({
                   type: 'POST',
                    url: '/data',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(dataObj),
                    success: function(callback) {
                        console.log(callback);
                    },
                    error: function() {
                        $(this).html("error!");
                    }
              });
        }
     </script>
  </body>
</html>
